@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.Itens.Count > 0)
{    
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="~/images/cart-5-16.ico" /></span>
        <span style="color: white;">
            @Model.CarrinhoCompra.Itens.Count
        </span>
    </a>
}